<h1 class="alert alert-info this-works">Hello World</h1>
<%= react_component("HelloWorldApp", props: @hello_world_props, prerender: false) %>
<%= react_component("QuestionaireApp", props: { name: "Testing" }, prerender: false) %>
